* {
    text-align: center;
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

header {
    background-color: #222;
    position: absolute;
    width: 100%;
}

h1 {
    background-color: #222;
    position: relative;
    vertical-align: middle;
}

section {
    background-image: linear-gradient(#000, #222, #000);
    position: absolute;
    width: 100%;
    height: 85%;
    top: 5%;
}

footer {
    position: relative;
    width: 100%;
    height: 10%;
    top: 0;
}

button {
    background-color: black;
    position: relative;
    width: 30%;
    height: 70%;
    font-size: 2vw;
    border: white .1vw solid;
}

button:hover {
    background-color: #111;
    transition: all .25s;
    cursor: pointer;
}

label {
    margin: 1vw;
}

input {
    width: 1%;
    height: 1%;
}

textarea {
    position: relative;
    margin: 1vw;
    background-color: #222;
    text-align: left;
    resize: none;
    border: white .1vw solid;
}

textarea:hover {
    background-color: #333;
    transition: all .25s;
}

pre {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 1vw;
    background-color: #222;
    text-align: left;
    resize: none;
    border: white .1vw solid;
    overflow: auto;
    white-space: pre-wrap;
}

select {
    margin: 1vw;
    position: relative;
    border: .1vw white solid;
    width: 10%;
    height: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:hover {
    background-color: #111;
    transition: all .25s;
    cursor: pointer;
}