header {
    height: 2vw;
}

h1 {
    font-size: 2vw;
}

button {
    font-size: 2vw;
}

label {
    font-size: 1.5vw;
}

input {
    width: 2vw;
    height: 2vw;
}

textarea {
    height: 90%;
    width: 40%;
}

pre {
    height: 90%;
    width: 40%;
}

select {
    font-size: 1.5vw;
}